Defaults:{{ user }} !requiretty
{{ user }} ALL = NOPASSWD: /usr/bin/systemctl stop {{ service }}, \
  /usr/bin/systemctl start {{ service }}, \
  /usr/bin/systemctl restart {{ service }} \
  /usr/bin/systemctl reload {{ service }}
